.App {
  text-align: center;
}

/* @media only screen and (min-width: 0px) and (max-width: 480px) {
  .nav-wide {
    display: none;
  }
} */
/* #portal  */
#portal .container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}
.container .modal {
  z-index: 1;
  width: 350px;
  /* height: 220px; */
  padding: 20px 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  animation: animate 0.3s;
}
.modal .close-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: white;
  color: #242425;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.modal ul {
  list-style: none;
}
.modal ul li {
  padding: 5px;
}
/* .modal .secondary-reason-list {
  display: none;
} */
.modal .buttons {
  text-align: center;
}
.modal .btn {
  background-color: whitesmoke;
  color: #000000;
  outline: none;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  margin: 0 5px;
  text-align: center;
}
.modal .end-class-btn {
  background-color: #ff5a43;
  color: #ffffff;
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
